.favorites-header {
  display: flex;
  grid-template-columns: auto auto;
  gap: 16px;
  justify-content: space-between;
  padding: 18px 0;
  margin: 12px 0;
  align-items: center;

  h3 {
    font-family: var(--font-family-creepster);
    color: #00B5CC;
    -webkit-text-stroke: 1px #B2DF28;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
  }
}

.character-container {
  display: grid;
  justify-content: center;
}
