<div class="character-card">
  <!-- Ícone de coração no canto superior direito -->
  <div class="favorite-icon" (click)="onAction()">
    <span
      class="material-symbols-outlined"
      [ngStyle]="{
        'font-variation-settings': isFavorite
          ? '\'FILL\' 1, \'wght\' 700, \'GRAD\' 0, \'opsz\' 48'
          : '\'FILL\' 0, \'wght\' 600, \'GRAD\' 0, \'opsz\' 48',
        color: isFavorite ? 'black' : '#FAFAFA'
      }"
    >
      favorite
    </span>
  </div>

  <!-- Imagem e informações do personagem -->
  <div [routerLink]="['/personagem', character.id]">
    <img
      [src]="character.image"
      [alt]="character.name"
      class="character-image"
    />
    <div class="character-info">
      <div>
        <h3>{{ character.name | truncate : 19 }}</h3>
        <p>Status: {{ character.status }}</p>
        <p>Species: {{ character.species }}</p>
      </div>
    </div>
  </div>
</div>
