<div class="character-card">
  <div class="favorite-icon" (click)="onAction()">
    <span
      class="material-symbols-outlined"
      [ngStyle]="{
        'font-variation-settings': isFavorite
          ? '\'FILL\' 1, \'wght\' 700, \'GRAD\' 0, \'opsz\' 48'
          : '\'FILL\' 0, \'wght\' 600, \'GRAD\' 0, \'opsz\' 48',
        color: isFavorite ? 'black' : '#FAFAFA'
      }"
    >
      favorite
    </span>
  </div>

  <div [routerLink]="['/personagem', character.id]" class="card-content">
    <img
      [src]="character.image"
      [alt]="character.name"
      class="character-image"
    />
    <div class="character-info">
      <div>
        <h2>{{ character.name | truncate : 19 }}</h2>
        <h3 [innerHTML]="character.species | translate"></h3>

      <ng-container *ngIf="showAdditionalInfo">
        <p *ngIf="character.type"><strong>Type:</strong> {{ character.type }}</p>
        <p><strong>{{ 'app.status' | translate }}: </strong> <span [innerHTML]="character.status | translate"></span></p>
        <p><strong>{{ 'app.gender' | translate }}: </strong> <span [innerHTML]="character.gender | translate"></span></p>
        <p><strong>{{ 'app.origin' | translate }}: </strong> <span [innerHTML]="character.origin.name | translate"></span></p>
        <p><strong>{{ 'app.currentLocation' | translate }}: </strong> <span [innerHTML]="character.location.name | translate"></span></p>
      </ng-container>

      </div>
    </div>
  </div>
</div>
