.character-detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-large) 0;

  button {
    margin-top: var(--spacing-large);
    background-color: var(--color-white);
    color: var(--button-text-active);
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: var(--font-size-paragraph);
    transition: background-color var(--transition-duration) var(--transition-ease);

    &:hover {
      background-color: var(--button-bg-active);
    }
  }
}
