.header {
  background-color: #0a0a0a;
  border-bottom: 1px solid #3d3d3d; /* Corrigido de "border: bottom" */
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;

  .logo {
    img {
      height: 64px;
    }
  }

  .button-group {
    display: flex;
    gap: 0;
  }

}

p {
  color: white;
}
