.header {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--icon-color);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-large);

  .logo {
    img {
      height: 64px;
    }
  }

  .button-group {
    display: flex;
  }
}

p {
  color: var(--color-white);
}
