<div class="header">
  <div class="logo">
    <img src="/assets/logo.png" alt="" />
  </div>

  <div class="button-group">
    <app-button
      [type]="'button'"
      [buttonClass]="'first-button'"
      [label]="'app.home'"
      [icon]="'home'"
      [link]="'/'"
      [isActive]="checkActiveRoute('/')"
    />
    <app-button
      [type]="'button'"
      [buttonClass]="'last-button'"
      [label]="'app.favorites'"
      [icon]="'favorite'"
      [link]="'favoritos'"
      [count]="(favoritesCount$ | async) ?? 0"
      [isActive]="checkActiveRoute('/favoritos')"
    />
  </div>
</div>
