<ng-container *ngIf="(favorites$ | async) as favorites">
  <div *ngIf="favorites.length > 0; else noResults" class="favorites-list">
    <app-character-card
      *ngFor="let character of favorites; trackBy: trackByFavoriteId"
      [character]="character"
      [isFavorite]="true"
      [actionLabel]="'Remove'"
      (action)="removeFavorite($event.id)"
    ></app-character-card>
  </div>
</ng-container>

<ng-template #noResults>
  <div class="no-results">
    <p>{{ 'app.emptyFavorites' | translate }}</p>
    <p>{{ 'app.addFavorites' | translate }}</p>
    <button [routerLink]="'/'"> {{ 'app.backToHome' | translate }} </button>
  </div>
</ng-template>
