.home-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  align-items: center;
  padding: 18px 0;
  justify-content: space-between;

  h3 {
    font-family: var(--font-creepster);
    color: #00B5CC;
    -webkit-text-stroke: 1px #B2DF28;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
  }

  .search-container {
    justify-self: end;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 12px;

    .search-container {
      justify-self: start;
    }
  }
}

.character-container {
  display: flex;
  justify-content: center;
}
