.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 16px;
  justify-content: left;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, 224px);
  }
}
